body {
    font-family: monospace;
}
header {
    background-color: #26252d;
    padding: 40px;
    font-size: 30px;
    color: white;
    text-align: left;
}
.header {
    color: white;
    font-size: 25px;
}
footer {
    background-color: #26252d;
    color: white;
    padding: 40px;
    text-align: left;
    padding-bottom: 600px;
    text-align: center;
}
main {
    font-size: 15px;
    padding-left: 10px;
}
.a {
    font-size: 30px;
}